<div class="card">
  <div class="card-header">
      <h4>
        <strong>Name :</strong> &nbsp;
        <%= @post.title %>
      </h4>
      <p>
        <strong>Author :</strong> &nbsp;
        <%= @post.user.email.split('@')[0] %>
    </p>
  </div>
  <div class="card-body">

    <p>
      <strong>Story:</strong>
      <%= @post.body %>
    </p>

    

  </div>
</div>
